<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="cont flex row" id="publicar">
    <div class="criarNoticia metade">
      <%- include('includes/messages') %> 
        <form id="formCriaNoticia"  action="/publicar/publicar" method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput1">Título</label>
              <input type="hidden" name="_csrf" value= <%= csrfToken %>>
              <input type="text" class="form-control titleNotice" id="exampleFormControlInput1" placeholder="Título" name="tituloMateria">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Link da imagem</label>
                <input type="text" class="form-control imgNotice" id="exampleFormControlInput1" placeholder="Imagem" name="imgMateria">
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Texto</label>
              <textarea class="form-control textNotice" id="exampleFormControlTextarea1" rows="15" name="textMateria"></textarea>
            </div>
            <div class="row mx-md-n5 center">
              <button type="button" class="btn btn-danger mx-5 btn-lg">Cancelar</button>
              <button type="submit" class="btn btn-success mx-5 btn-lg">Publicar</button>
            </div>
        </form>     
    </div>
    
    <div class="preRenderNoticia metade">
        <h2 class="titlePreRender center"></h2>
        <br>
        <img class="imgPreRender center">
        <br>
        <br>
        <p class="textPreRender"></p>
    </div>   
</div>

<%- include('includes/footer') %>
