<%- include('includes/head') %>
<%- include('includes/nav') %>
<section class="carousel">
    <div class="carousel__slider flex">
      <ul class="carousel__list">     
        <li class="carousel__item">
          <span>PETR4</span>
          <span class="money">R$27,40</span>
          <span class="positive">5%</span>
        </li>
        <li class="carousel__item">
          <span>BTC</span>
          <span class="money">R$105.485,00</span>
          <span class="negative">-5%</span>
        </li>
        <li class="carousel__item">
          <span>IBOV</span>
          <span class="money">R$99,619</span>
          <span class="positive">5%</span>
        </li>
        <li class="carousel__item">
          <span>VALE3</span>
          <span class="money">R$78,05</span>
          <span class="negative">-5%</span>
        </li>
        <li class="carousel__item">
          <span>MGLU3</span>
          <span class="money">R$2,42</span>
          <span class="positive">5%</span>
        </li>
        <li class="carousel__item">
          <span>ITUB4</span>
          <span class="money">R$22,80</span>
          <span class="negative">-5%</span>
        </li>
        <li class="carousel__item">
          <span>IFIX</span>
          <span class="money">R$2,79</span>
          <span class="positive">5%</span>
        </li>
        <li class="carousel__item">
          <span>ABEV3</span>
          <span class="money">R$13,54</span>
          <span class="negative">-5%</span>
        </li>
        <li class="carousel__item">
          <span>GGBR4</span>
          <span class="money">R$22,74</span>
          <span class="positive">5%</span>
        </li>
        <li class="carousel__item">
          <span>DOLLAR</span>
          <span class="money">R$5,23</span>
          <span class="negative">-5%</span>
        </li>      
      </ul>
    </div>
  </section>
  
  <div class="container flex row center break">
    <% if (publicacao._id) {%> 
        <h1 class="break"><%=publicacao.tituloMateria  %> </h1>
        <h3 class="break"><%=publicacao.subtituloMateria  %> </h3>
        <img src="<%=publicacao.imgMateria  %>">
        <p class="break"><%= publicacao.textMateria %> </p>
        <% } %> 
  </div>

<%- include('includes/footer') %>